body{
  margin:0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f3f8fb;
  font-family: 'Karla', sans-serif;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 50px, rgba(255,255,255,1) 50px, rgba(255,255,255,1) 100px);
}
p{

}
h1,h2,h3,h4 {
  margin-top:0;
  text-align: left;
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #404040;
}
#app > canvas{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-0%, -50%);
  box-shadow: 0 2px 11px 0 rgba(0,0,0,0.2);
}

.control-panel-container{
  border-radius: 3px;
  position: fixed;
  right: 20px;
  top: 20px;
  min-width: 400px;
  box-sizing: border-box;
  background: white;
  padding: 10px 10px;
  box-shadow: -1px 0 10px 0 rgba(0,0,0,0.1);
  height: calc(100vh - 40px);
}

.control-panel{
  height: 100%;
  position: relative;
}
.control-panel-button-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.control-panel-button {
  margin: 10px 0;
  text-align: center;
  cursor:pointer;
  color:#ffe400;
  border:2px #ffe400 solid;
}
.control-panel-button > p {
  margin:10px 0 ;
}